*,
::before, 
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

.container {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin: 100px auto 0;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style:preserve-3d;
    animation: spin 15s infinite linear;
}

.face {
    position: absolute;
    width: 200px;
    height: 200px;
}

.top{
    background-image: linear-gradient(to bottom, rgba(255,128,255,0.5), rgba(0,0,128,0.5));;
    transform: rotateX(90deg) translateZ(100px);

}

.bottom{
    background-image: linear-gradient(to bottom, rgba(255,128,255,0.5), rgba(0,0,128,0.5));;
    transform: rotateX(-90deg) translateZ(100px);

}

.right{
    background-image: linear-gradient(to bottom, rgba(255,128,255,0.5), rgba(0,0,128,0.5));;
    transform: rotateY(90deg) translateZ(100px);

}

.left{
    background-image: linear-gradient(to bottom, rgba(255,128,255,0.5), rgba(0,0,128,0.5));;
    transform: rotateY(-90deg) translateZ(100px);

}

.front{
    background-image: linear-gradient(to bottom, rgba(255,128,255,0.5), rgba(0,0,128,0.5));;
    transform: rotateX(0deg) translateZ(100px);
}

.back{
    background:  #7e41d3;
    transform: rotateX(-180deg) translateZ(100px);
}

@keyframes spin {
    from{
        transform: rotateX(0deg) rotateY(0deg);

    }
    to{
        transform: rotateX(360deg) rotateY(360deg);
    }
}